:root {
    --azul: #6747FF;
    --roxo: #B727FF;
    --lilas: #9981DF;
    --fundo: #f5f5f5;
    --branco: #ffffff;
    --cinza: #cccccc;
    --cinza2: #707070;
}
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--fundo);
}
a {
    text-decoration: none;
}
.container {
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(204, 204, 204, 1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(204, 204, 204, 1);
    box-shadow: 10px 10px 5px 0px rgba(204, 204, 204, 1);
    padding: 10px 0px;
    border-bottom: solid 1px #cccccc;
    background-color: white;
    position: fixed;
    width: 100%;
}
header img {
    width: 80px;
}
header ul {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
table, td, tr, th {
    border: solid 1px #cccccc;
    border-collapse: collapse;
    padding: 20px;
    /*juntar as bordas*/
}
h3 {
    margin-bottom: 20px;
}
table nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}
table nav ul li {
    margin: 10px;
    padding: 10px;
    border: solid 1px #cccccc;
    border-radius: 4px;
    color: var(--lilas);
    font-weight: bold;
}
.card {
    width: 500px;
    height: 500px;
    background-color: var(--branco);
    padding: 80px 40px;
    margin: 40px 0px;
    border-radius: 4px;
    -webkit-box-shadow: 5px 5px 30px -15px rgba(204, 204, 204, 0.5);
    -moz-box-shadow: 5px 5px 30px -15px rgba(204, 204, 204, 0.5);
    box-shadow: 5px 5px 30px -15px rgba(204, 204, 204, 0.5);
}
input {
    width: 100%;
    margin-bottom: 20px;
    height: 30px;
    font-size: 1.2em;
    border-radius: 4px;
    border: solid 1px var(--cinza);
    padding: 10px;
}
button {
    width: 100%;
    margin: 50px 0px;
    border-radius: 4px;
    font-size: 1.2em;
    padding: 10px;
    border: none;
    background-color: var(--azul);
    color: var(--branco);
    cursor: pointer;
}
label {
    width: 100%;
    margin-bottom: 10px;
}
#form_cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
footer {
    padding: 20px 0px;
    border-top: solid 1px #cccccc;
    text-align: center;
    background-color: var(--fundo);
}
.esquerdo {
    background-image: repeating-linear-gradient(rgba(183, 39, 255, 0.4), rgba(183, 39, 255, 0.4)), url(../img/abstract-login.jpg);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    width: 50%;
    height: 100vh;
}
.container_login {
    display: flex;
}
.direito {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home {
    background-image: linear-gradient(rgba(183, 39, 255, 0.4), rgba(183, 39, 255, 0.4)), url(../img/abstract-login.jpg);
    height: 800px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    font-family: arial;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.home h1 {
    font-size: 70px;
}
.home_eventos{
    width: 1600px;
    margin: auto;
}
.home_eventos h2{
    text-align: center;
    padding: 40px;
}
.container_eventos h2{
    background-color: var(--cinza);
}
.card_eventos{
    background-color: var(--branco);
    padding:10px;
    margin:10px;
    -webkit-box-shadow: 5px 5px 30px -15px rgba(204, 204, 204, 0.5);
    -moz-box-shadow: 5px 5px 30px -15px rgba(204, 204, 204, 0.5);
    box-shadow: 5px 5px 30px -15px rgba(204, 204, 204, 0.5);
}
.container_eventos{
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.home_visao{
    background-image: linear-gradient(rgba(183, 39, 255, 0.4), rgba(183, 39, 255, 0.4)), url(../img/visao.jpg);
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #F5F5F5;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home_visao h2{
    text-align: center;
    padding: 40px;
}
.home_visao p{
    font-size: 20px;
}
.home_contato{
    color:  var(--cinza2);
    text-align: center;
    padding-bottom: 40px;
}
.home_contato h2{
    color: var(--cinza2);
    margin-bottom: 20px;
}    
.home_contato p{
    padding-left: 40px;
}
.container_contato{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p{
    font-size: 20px;
}
